<nav class="text-m font-semibold text-white bg-[#6366F1] pl-[10px] py-[20px]">
    <a href="http://localhost:4321/">Accueil</a>
    <a href="/offres">Offres</a>
    <a href="/agenda">Agenda</a>
</nav>