---
import '../css/base.css';
---
<nav class="text-lg font-semibold text-white bg-[#6366F1] py-[20px] lg:flex lg:gap-x-12 lg:justify-center">
    <a href="/">Accueil</a>
    <a href="/offres">Offres</a>
    <a href="/agenda">Agenda</a>
</nav>