---
import Card from '../../components/Card.astro';
import Base from '../../layouts/Base.astro';

import { getOffres } from '../../backend.mjs';

const offres = await getOffres();
---

<Base titre="Offres" h1="Noq offres">
    <div
      class="text-indigo-950"
      x-data="{ showFavorites: false, viewMode: 'grid' }"
    >
      <button
        class="text-white bg-purple-900 font-bold py-1 px-2 rounded"
        @click="showFavorites = !showFavorites"
      >
        <span x-show="!showFavorites">Afficher les favoris</span>
        <span x-show="showFavorites">Afficher tout</span>
      </button>
  
      <div class="pt-5">
        <button
          @click="viewMode = 'grid'"
          :class="viewMode === 'grid' ? 'bg-white text-purple-400 border border-purple-400' : 'bg-purple-400 text-white'"
          class="bg-indigo-400 font-semibold py-1 px-2 rounded"
        >
          Grille
        </button>
        <button
          @click="viewMode = 'list'"
          :class="viewMode === 'list' ? 'bg-white text-purple-400 border border-purple-400' : 'bg-purple-400 text-white'"
          class="bg-indigo-400 font-semibold py-1 px-2 rounded"
        >
          Liste
        </button>
      </div>
  
      <div
        x-show="!showFavorites"
        :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col'"
      >
        {offres.map((offre) => <Card {...offre} />)}
      </div>
      <div
        x-show="showFavorites"
        :class="viewMode === 'grid' ? 'grid grid-cols-1 lg:grid-cols-3 gap-4' : 'flex flex-col'"
      >
        {offres.map((offre) => offre.favori && <Card {...offre} />)}
      </div>
      <a href=`/offres/surface/300`>Voir les maisons avec une superficie supérieur à 300m2</a>
    </div>
  </Base>